.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  height: 100px;
  background: #fff;
  padding: 0 2rem;
  box-shadow: var(--box-shadow);
}
.rightOptions {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style: none;
}
li a:hover {
  color: var(--orange);
}

li a {
  text-decoration: none;
  color: var(--black);
  padding: 1rem;
  display: block;
  font-size: 20px;
}

.rightDiv {
  display: flex;
}
.buttonIcons {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}
.toggleButton {
  display: none;
}

.SearchBox {
  top: 110px;
  right: -100%;
  position: absolute;
  transition: all 0.5s ease;
}
.SearchBox.activeSearchBox {
  transition: all 0.5s ease;
  right: 10px;
  z-index: 2;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
  }
  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 100px;
    left: -100%;
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .navMenu.active {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    opacity: 1;
    z-index: 1;
    left: 0;
    transition: all 0.5s ease;
  }
  .navLink {
    text-align: center;
    padding: 0.8rem;
  }

  li a:after {
    content: none;
  }
  .toggleButton {
    display: block;
  }
}
