@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.header-container {
	position: relative;
	height: 350px;
	overflow: hidden;
	background: url('./header.jpg') no-repeat center;
	width: 80%;
	margin: auto;
	background-size: cover;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.chef-bar-wrapper {
	display: flex;
	justify-content: center;
	width: 80%;

	/* height: 30%; */
	margin: -100px 0 0 150px;
}
.chef {
	height: 250px;
	margin-right: -20px;
	z-index: 1;
}
.searchbox-container {
	background: #fff;
	position: relative;
	width: 70%;
	height: 250px;
	border-radius: 10px;

	box-shadow: 5px 5px 8px rgba(52, 63, 86, 0.8);
}
.chef-bar-wrapper img {
	max-width: 100%;
}
.header-container h1 {
	padding: 5%;
	font-size: 5rem;
	font-weight: 700;
	color: rgba(245, 71, 72, 1);
	font-family: 'Righteous', cursive;
	text-align: center;
}

.box {
	background: #fff;
	margin: auto;
}
@media screen and (max-width: 1024px) {
	.header-container h1 {
		font-size: 50px;
		text-align: center;
	}
	.img-header-container {
		width: 100%;
	}
}
