.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  color: #343f56;
  font-size: 1.5rem;
  height: 65px;
}

.searchBarIcons {
  display: flex;
}
.hidden {
  visibility: hidden;
}
.btn {
  margin: 0 0.5rem;
  width: 0.5rem;
  background: #fff;
  text-align: center;
  color: var(--black);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (max-width: 940px) {
  .searchTerm {
    font-size: 20px;
  }
}
