.container {
	height: 100vh;

	/* background: rgb(251, 147, 0);
	background: radial-gradient(
		circle at bottom right,
		rgba(251, 147, 0, 0.6) 28%,
		rgba(245, 230, 202, 0.8) 76%
	); */
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.left-side {
	margin-left: 60px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
}

.left-side::after {
	content: '';
	width: 15px;
	height: 45%;
	background-color: #fbab7e;
	background-image: linear-gradient(0deg, #fbab7e 0%, #f7ce68 100%);
	position: absolute;
	left: 0px;
	top: 130px;
}

h1 {
	font-size: 150px;
	color: #343f56;
	font-weight: 900;
	margin: 100px 0 0 50px;
}
h3 {
	font-size: 30px;
	color: rgba(52, 63, 86, 0.75);
}

span {
	color: #f54748;
}

.right-side img {
	position: relative;
	margin-top: 100px;
	margin-right: 100px;
	align-content: center;
	width: 800px;
}

.rectangle-img {
	position: absolute;
	background-color: #fbab7e;
	background-image: linear-gradient(0deg, #fbab7e 0%, #f7ce68 100%);
	right: 0;
	top: 150px;
	border-radius: 20px 0 0 20px;
	height: 80%;
	width: 30%;
	z-index: -1;
}

.log-in-button {
	margin: 25px;
	width: 200px;
	padding: 10px;
	font-size: 30px;
	right: 0;
	color: #ffff;
	background-color: #fbab7e;
	background-image: linear-gradient(90deg, #fbab7e 0%, #f7ce68 100%);
	transition: width 0.3s;
	border: none;
	margin-left: 80%;
	border-radius: 30px;
}
.log-in-button img {
	width: 40px;
	display: none;
}
.log-in-button:hover img {
	display: block;
}
.log-in-button:hover {
	background: #f54748;
	width: 230px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
