.container {
  width: 100%;
  min-width: 385px;
  margin: 0 auto;
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 100%;
}

.leftSide {
  width: 45%;
  padding-left: 2em;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.rightSide {
  width: 45%;
  overflow: hidden;
  position: relative;
}

h1 {
  color: #343f56;
  font-weight: 900;
  font-size: 5rem;
}

span {
  font-size: 1.1rem;
  color: #f54748;
  font-size: 2rem;
}

.logInButton {
  margin: 1.3rem;
  padding: 0.4em 0.7em;
  font-size: 1.6rem;
  color: #ffff;
  background-color: #fbab7e;
  background-image: linear-gradient(90deg, #fbab7e 0%, #f7ce68 100%);
  transition: width 0.3s;
  border: none;
  border-radius: 30px;
}
.arrowButton {
  display: inline-block;
  margin-left: 0.5em;
}

.rightSide::after {
  content: "";
  position: absolute;
  background-color: #fbab7e;
  background-image: linear-gradient(0deg, #fbab7e 0%, #f7ce68 100%);
  right: 0;
  top: 150px;
  border-radius: 20px 0 0 20px;
  height: 80%;
  width: 80%;
  z-index: -1;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.logInButton:hover {
  background: #f54748;
}

/*Begins animation css*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*Ends animation css*/
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .leftSide,
  .rightSide {
    width: 100%;
  }
  .leftSide {
    align-items: flex-start;
  }
  img {
    float: right;
  }
}
