.container {
	height: 100vh;

	background: #faf1e6;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.left-side,
.right-side {
	width: 50%;
	margin: 40px;
	padding: 15px;
}
.left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
h1 {
	font-size: 150px;
	color: rgba(52, 63, 86, 0.99);
	font-weight: 900;
	margin-top: 150px;
}
h3 {
	font-size: 30px;
	color: rgb(52, 63, 86);
}
.right-side {
	align-items: flex-start;
}
.right-side img {
	width: 100%;
}
.log-in-button {
	margin: 25px;
	width: 150px;
	padding: 10px;
	font-size: 30px;
	right: 0;
	color: #ffff;
	background: #343f56;
	transition: 0.5s;

	border-radius: 10px;
	border: none;
	margin-left: 80%;
}
.log-in-button:hover {
	background: #f54748;
}

.custom-shape-divider-bottom-1627779220 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1627779220 svg {
	position: relative;
	display: block;
	width: calc(152% + 1.3px);
	height: 217px;
}

.custom-shape-divider-bottom-1627779220 .shape-fill {
	fill: #ffffff;
}
