.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.leftSide {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 1rem;
}
.rightSide {
	flex: 1;
	overflow: hidden;
	position: relative;
}

.wrapper h1 {
	color: #343f56;
	font-weight: 900;
	margin: 100px 0 0 50px;
	font-size: 5rem;
}
.wrapper h3.span {
	font-size: 1.1rem;
	color: rgba(52, 63, 86, 0.75);
	font-size: 2rem;
}

.wrapper span {
	color: #f54748;
}

.rightSide img {
	position: relative;
	align-content: center;
	max-width: 70%;
	display: block;
}

.rectangleImg {
	position: absolute;
	background-color: #fbab7e;
	background-image: linear-gradient(0deg, #fbab7e 0%, #f7ce68 100%);
	right: 0;
	top: 150px;
	border-radius: 20px 0 0 20px;
	height: 80%;
	width: 80%;
	z-index: -1;
}

.logInButton {
	margin: 25px;
	width: 200px;
	padding: 10px;
	font-size: 30px;
	right: 0;
	color: #ffff;
	background-color: #fbab7e;
	background-image: linear-gradient(90deg, #fbab7e 0%, #f7ce68 100%);
	transition: width 0.3s;
	border: none;

	border-radius: 30px;
}
.logInButton img {
	width: 40px;
	display: none;
}
.logInButton:hover img {
	display: block;
}
.logInButton:hover {
	background: #f54748;
	width: 230px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
}

@media screen and (max-width: 1024px) {
	.wrapper {
		flex-direction: column;
		align-items: center;
	}
	.wrapper h1 {
		font-size: 3rem;
	}
	.wrapper h3.span {
		font-size: 1rem;
	}
	.rightSide {
		align-self: flex-end;
	}
	.rectangleImg {
		left: 0;
		border-radius: 0px 20px 20px 0px;
	}
}
